
  <div class="ion-text-center" style="margin-top: 4%;">
    <ion-title>Detalhes da Consulta</ion-title>
  </div>
    



<ion-content>
  <ion-item>
    <ion-label>Cliente    Claudio</ion-label>
  
  </ion-item>
  <ion-item>
    <ion-label >Data 20/12/2020</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-label >Hora 14:00</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-label >Endereço Rua a, 23</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-label >Complemento casa 3</ion-label>
    
  </ion-item>
</ion-content>
