
<ion-content>
  <ion-item>
    <ion-label>Dados do Podólogo</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>nomePodólogo: {{consulta.nomepodologo}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>idpodologo: {{consulta.idpodologo}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>nomecliente: {{consulta.nomecliente}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>idcliente: {{consulta.idcliente}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>hora: {{consulta.hora}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>data: {{consulta.data}}</ion-label>
  </ion-item>
  
</ion-content>
