

  <ion-header style="background-color: #00FA9A;">
  <div class="ion-text-center" >
    <h3 >Detalhes da Consulta</h3>
    </div>
  </ion-header>
  <ion-content><img style="border-radius: 100%;" src="{{imagem}}" width="100%" />
  
    <ion-item>
      <ion-label>Podologo: {{podologo.nome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CEP: {{podologo.cep}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cidade: {{podologo.cidade}}</ion-label>
    </ion-item>
   
    <ion-item>
      <ion-label>Endereço: {{podologo.endereco}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Complemento: {{podologo.complemento}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefone: {{podologo.numero}}</ion-label>
    </ion-item>
  
</ion-content>
