<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<ion-content>
  <ion-row>
  
    <ion-col size="7">
      <ion-item>
      <ion-label  position="floating">Busca</ion-label>
      <ion-input type="text" #username ></ion-input>
    </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-button style="margin-top: 15%;" (click)="pesquisar()">Pesquisar</ion-button>
    </ion-col>
  </ion-row>
   
  

 
  <ion-img style="margin-top:2%" class="img-responsive" src="/assets/Google-Maps-740x388.jpg"></ion-img>
  
  <ion-list>
    <ion-item >
      <ion-label>Claudio</ion-label>
      <ion-button (click)="avancar()">Selecionar</ion-button>
    </ion-item>
  
    <ion-item >
      <ion-label>Maria</ion-label>
      <ion-button (click)="avancar()">Selecionar</ion-button>
    </ion-item>
  
    <ion-item > 
      <ion-label>Julia</ion-label>
      <ion-button (click)="avancar()">Selecionar</ion-button>
    </ion-item>
  </ion-list>
  