<ion-header style="background-color: #00FA9A;">
  <div class="ion-text-center" >
    <h3 >Detalhes da Consulta</h3>
    </div>
</ion-header>
<ion-content><img style="border-radius: 100%;" src="{{imagem}}" width="100%" />
 
  
  <ion-item>
    <ion-label>Cliente: {{cliente.nome}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>CEP: {{cliente.cep}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Cidade: {{cliente.cidade}}</ion-label>
  </ion-item>
 
  <ion-item>
    <ion-label>Endereço: {{cliente.endereco}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Complemento: {{cliente.complemento}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Telefone: {{cliente.numero}}</ion-label>
  </ion-item>

  
</ion-content>
